.ambient-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.ambient-planet {
  position: absolute;
  top: -15%;
  right: -10%;
  width: 600px;
  height: 600px;
  opacity: 0.15;
  transform-origin: center center;
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.1));
}

.ambient-tickers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

@media (max-width: 768px) {
  .ambient-planet {
    width: 400px;
    height: 400px;
    top: -10%;
    right: -15%;
  }
}

