.planet-map-container {
  width: 100%;
  height: 100%;
  transform-origin: center center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.planet-map {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.3));
}

